@{
    ViewBag.Title = "Suceess payment.";
}
<h2>@ViewBag.Title.</h2>
<p class="text-success">Successfully completed payment for @ViewBag.Message</p>
  <table>
                    <tr>
                        <td colspan="5">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Site!</a>
                        </td>
                    </tr>
                    </table>